.site-header{
    background-color: black;
    color : white;
    height : 100vh;
    font-family:monospace;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.site-header-content{
    margin: 10px
}
.pro-pic{
    border-radius:50%;
    height:200px;
    width:200px;
    align-self: center;
    box-shadow: #312929 3px 5px 5px;
}

.myworks{
    color : white;
}

body{
    margin:0;
}
